<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024, user-scalable=yes">
    <title>comment</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all_comments.css') }}">

</head>
<body>
<header>
    <a href="{{ url_for('home.home_page') }}" class="logo">Logo</a>
    <div class="nav-wrapper">
        <a href="{{ url_for('home.home_page') }}">
            <div class="image-container">
                <img src="{{ url_for('static', filename='icon/navbar/home.svg') }}" alt="Your Image Description"
                     width="30" height="40"/>
                <div class="hover-text">Home</div>
            </div>
        </a>
        <a href="{{ url_for('home.home_page') }}">
            <div class="image-container">
                <img src="{{ url_for('static', filename='icon/navbar/collection.svg') }}" alt="Your Image Description"
                     width="30" height="40"/>
                <div class="hover-text">Collection</div>
            </div>
        </a>
        <a href="{{ url_for('cart.cart_page') }}">
            <div class="image-container">
                <img src="{{ url_for('static', filename='icon/navbar/cart.svg') }}" alt="Your Image Description"
                     width="30" height="40"/>
                <div class="hover-text">Cart</div>
            </div>
        </a>
        <a href="{{ url_for('home.home_page') }}">
            <div class="image-container">
                <img src="{{ url_for('static', filename='icon/navbar/history.svg') }}" alt="Your Image Description"
                     width="30" height="40"/>
                <div class="hover-text">History</div>
            </div>
        </a>
        <a href="{{ url_for('order.order_page') }}">
            <div class="image-container">
                <img src="{{ url_for('static', filename='icon/navbar/order.svg') }}" alt="Your Image Description"
                     width="30" height="40"/>
                <div class="hover-text">Order</div>
            </div>
        </a>
        <div class="image-container">
            <div class="dropdown-trigger">
                <a href="{{ url_for('nav_user.info') }}">
                    <img src="{{ url_for('static', filename='icon/navbar/user.svg') }}" alt="Your Image Description"
                         width="30" height="40"/>
                    <div class="hover-text">User</div>
                </a>
                <div class="dropdown-menu">
                    {% if session.get('user_type') %}
                        <a href="{{ url_for('login.logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ url_for('login.login_page') }}">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <button class="previous-comment">
        <a href="{{ url_for('comment.comment_page', product_id=last_product) }}">Previous comment</a>
    </button>
    <div class="product-list">
        {% for product in products %}
            <div class="product fade-in">
                <a href="{{ url_for('comment.comment_page', product_id=product.product_id) }}">
                    <div class="make-comment">
                        <img src="{{ url_for('static', filename='icon/information/comment.svg') }}"
                             alt="Your Image Description"
                             width="30" height="40"/>
                    </div>
                </a>
                <h2><strong>Vendor:</strong> {{ product.vendor_name }}</h2>
                <div class="product-image">
                    <img src="{{ url_for('static', filename=product.picture) }}" alt="{{ product.name }}">
                </div>
                <p><span style="font-weight: bold">Name: </span>{{ product.name }}</p>
                <p><span style="font-weight: bold">Desc: </span>{{ product.description }}</p>
            </div>
        {% else %}
            <p>No reviewed products found.</p>
        {% endfor %}
    </div>
</div>

<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>About us</h3>
            <p>We are an e-commerce platform focused on providing quality goods. We are committed to providing you
                with
                the best shopping experience.</p>
        </div>
        <div class="footer-section">
            <h3>Contact us</h3>
            <p><img src="{{ url_for('static', filename='icon/footer/phone.svg') }}" alt="phone" width="30" height="30">Phone:
                +86 13808243006
            </p>
            <p><img src="{{ url_for('static', filename='icon/footer/email.svg') }}" alt="email" width="30" height="30">Email:
                Darryl-Xiang@outlook.com</p>
        </div>
        <div class="footer-section">
            <h3>Social media</h3>
            <ul class="social-links">
                <li><img src="{{ url_for('static', filename='icon/footer/facebook.svg') }}" alt="facebook" width="30"
                         height="30"><a
                        href="https://twitter.com/facebook">Facebook</a></li>
                <li><img src="{{ url_for('static', filename='icon/footer/facebook.svg') }}" alt="youtube" width="30"
                         height="30"><a
                        href="https://www.youtube.com/">YouTube</a></li>
                <li><img src="{{ url_for('static', filename='icon/footer/instagram.svg') }}" alt="instagram" width="30"
                         height="30"><a
                        href="https://www.instagram.com/">Instagram</a></li>
                <li><img src="{{ url_for('static', filename='icon/footer/tiktok.svg') }}" alt="tiktok" width="30"
                         height="30"><a
                        href="https://www.tiktok.com/">TikTok</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2023 E-commerce. All rights reserved.</p>
    </div>
</footer>
</body>
</html>